*{
	margin:0;
	padding:0;
	text-decoration: none; 
}

body{
    font:20px Arial;

  overflow-x: hidden;
  overflow-y: scroll;

}

.menu {
	max-width: 800px;
	margin: 10px auto;
	background:#F5A9E1;
	text-align: center;
	border-radius:5px; 
}
.menu>a{
	  display:  inline-block;
	  padding:15px;
	  color: #000000;
	  } 
@media (max-width:800px){
	  .menu > a {
	  	display:block;
	  	border-bottom:1px solid#fff;
	  }


}
a{
	text-decoration: none;
}

#fim{
	background-color:black;
	color:white;
	padding:25px;
	text-align:right;
	margin:-30px;  
	margin-right:-15px; 
}

#formulário{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif,Arial;
	color: 	#0000CD; 
	
}

input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FF00FF;
  color: white;
  font-size: 40px;
}

.button{
	background-color: #4CAF50;
	cursor: pointer;
}

